<div class="overlay">
    <form class="form-container border border-dark border-3" (ngSubmit)="submitForm()" #userForm="ngForm">
        <div class="my-1">
            <h2 class="mt-2">{{ modus === 'add' ? 'Add New User' : 'Edit User'}}</h2>

            <div class="full-name my-2">
                <div class="medium-input-field">
                    <label class="form-label">Name*</label>
                        <input 
                        name="name"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="user!.name"
                        required
                        >
                </div>
                <div class="small-input-field">
                    <label class="form-label">Infix</label>
                        <input 
                        name="infix"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="user!.infix "
                        >
                </div>
                <div class="medium-input-field">
                    <label class="form-label">Lastname*</label>
                        <input 
                        name="lastname"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="user!.lastname"
                        required
                        >
                </div>
            </div>
            <div class="street-address my-2">
                <div class="medium-input-field me-4">
                    <label class="form-label">Street*</label>
                        <input 
                        name="street"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="user!.street"
                        required
                        >
                </div>
                <div class="small-input-field me-4">
                    <label class="form-label">Housenumber*</label>
                        <input 
                        name="housenumber"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="user!.housenumber"
                        required
                        >
                </div>
                <div class="small-input-field ms-5">
                    <label class="form-label">Additive</label>
                        <input 
                        name="additive"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="user!.additive"
                        >
                </div>
            </div>
                <div class="postalcode my-2">
                <label class="form-label">Postalcode*</label>
                    <input 
                    name="postalcode" 
                    class="form-control" 
                    type="text" 
                    [(ngModel)]="user!.postalcode"
                    required
                    >
            <div class="city my-2">
                <label class="form-label">City*</label>
                    <input 
                    name="city"
                    class="form-control" 
                    type="text" 
                    [(ngModel)]="user!.city"
                    required
                    >
            </div>
        </div>

            <button 
                type="submit" 
                class="btn btn-primary m-3"
                >{{ modus === 'add' ? 'Add' : 'Save'}}
            </button>
            
            <button class="btn btn-danger" (click)="onCancel.emit()">Cancel</button>
        </div>
    </form>
</div>