<div class="userDataContainer border m-3 bg-light shadow p-3 bg-body-tertiary rounded" *ngIf="user">
    <div class="m-3">
        <h3>{{ user.Name }} {{ user.Infix }} {{ user.Lastname }}</h3>
        <div>
            <div>
                {{ user.Street }} {{ user.Housenumber }} {{ user.Additive }}
            </div>
            <div>
                {{ user.Postalcode }} {{ user.City }}
            </div>
        </div>
    </div>
</div>

<button class="btn btn-dark m-3" [routerLink]="'/user-list'">Back to User List</button>

